/*
	SASS & COMPASS BOILERPLATE
	For documentation and more information on SASS and Compass, refer to the official documentation:
		+ SASS: http://sass-lang.com
		+ Compass: http://compass-style.org

	This file acts as an asset manager and loads the following:
		+ Compass files
		+ Libraries
		+ Variables (fonts, colours, etc)
		+ Mixins (reusable styles)
		+ Modules (larger, self-contained, reusable units)
		+ Partials (parts of styling broken off for maintainability)
		+ A top-down stylesheet

	Note that files are included in order of necessity. For example, Compass CSS stuff can be used in
	variables which can be used in mixins, modules, site styles, etc.

	What about media queries?
	Note that since SASS allows you to nest @media declarations, separate stylesheets containing
	media queries are unnecessary. Nesting @media declarations also reinforces a modular approach.

*/
/*
	Imported modules from Compass
*/
/* line 17, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
  Fonts
  
  Any @font-face or third party font imports should go in this file

*/
/*
  Fonts
  
  Any @font-face or third party font imports should go in this file

*/
/*
	Libraries, variables, sprites, and mixins 

	An example of a SASS library is http://github.com/nathanshubert/Unicode-Shapes-Preprocessor-Library.
	They should be prefixed with an underscore, stored in the includes directory,
	and are included like such:
	@import "includes/library-name";
	
	Variables and mixins are also included here.
	
*/
/* Variables
/* + + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* 
	Note:
		+ Mixin names should describe what things ARE, not what they look like.
		+ As much as it kills me, colour is spelled the American way to be consistant
		  with colour declarations in css.
	
	For example, the following are good variable names:
	$font-base, $font-header, $color-brand, $color-accent, $breakpoint-midsize, $breakpoint-small
	
	These are bad variable names:
	$blue, $orange, $helvetica, $ipad, $iphone
	
	On naming conventions, a good convention is to use underscores for spaces, and dashes to indicate
	a subsidiary relationship. This allows you to easily group variables by type.
	
	The following are good examples of variable groups named with a dash to indicate descendency:
	
	$font-x
	$font_weight-x
	$color-x
	$icon-x
	$breakpoint-x
	
*/
/* The following variables are needed by some of our mixins and can be adjust to meet
   the needs of the site.
*/
/* Mixins
/* + + + + + + + + + + + + + + + + + + + + + + + + + + + */
/* 
	Sprites 
  To use compass's sprite generating awesomeness, uncomment the include following this 
  comment block. 

  _sprites.scss contains two items:
    - A sprite-background mixin for sprites with a high pixel density counterpart
    - A template to use vanilla compass sprites for compatibility
  
  To use the sprite-background mixin, you'll need two images of the same name, one in the
  images/comman and one in the images/double directories. The mixin will automatically
  use the right one.
  
  The template for vanilla compass sprites for compatibility is intended to be used for 
  older broser support. Think rounded corners and such things.
  
*/
/* 
	Modules 
	Self contained pieces of styling that can be reused.
	Modules should have the following characteristics: 
		+ Be context independent so they can be used anywhere.
		+ Defined within a mixin so that they can be used easily, anywhere.
		+ Be applied to a class that describes what the element IS, not what it looks like.
		+ Contain their own variations, fallbacks, and possibly media queries
	
	Buttons are a good example of a module.

	Module files should be prefixed with an underscore, stored in the modules directory, 
	and included like such:
	@import "modules/module-name";

  Some default modules are provided bellow. Uncomment them to use them.

*/
/* 
	Partials 
	Pieces of code that aren't modular in nature, but are broken off for easier maintainability.
	
	Partials should be prefixed with an underscore, stored in the partials directory,
	and included as such:
	@import "partials/partial-name";
	
*/
/*
	Site styles 
	A traditional-style top-down stylesheet. Note that this file isn't always neccesary per se.
	Rather than putting everything in _style.scss, think about how your stylesheet can be broken
	up into partials and modules.

*/
/* styles.css */
/* 

LEGEND===================

Snippet
Modals
Masonry
Responsive Grid

=========================

MARGINS / PADDING==================

left/right = 20px

=========================

*/
/* line 27, ../sass/_style.scss */
.float_left {
  float: left;
}

/* line 28, ../sass/_style.scss */
.float_right {
  float: right;
}

/* line 30, ../sass/_style.scss */
.alert {
  width: 300px;
  color: white;
  background: #e81d77;
  padding: 5px;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -150px;
}

/* ========================================
               Global Styles
=========================================*/
/* line 47, ../sass/_style.scss */
body {
  width: 100%;
  height: 100%;
  background: #e6e7e9;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

/* line 54, ../sass/_style.scss */
#container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 10px;
}

/* line 60, ../sass/_style.scss */
#content {
  width: 100%;
  padding-bottom: 60px;
}

/* line 65, ../sass/_style.scss */
li {
  list-style-type: none;
}

/* line 69, ../sass/_style.scss */
.blue {
  color: #01aef0;
}

/* line 73, ../sass/_style.scss */
.pink {
  color: #e81d77;
}

/* line 77, ../sass/_style.scss */
label {
  font-size: 0.8em;
}

/* ====================
     Fonts
=====================*/
/* line 85, ../sass/_style.scss */
h1 {
  font-size: 1.5em;
}

/* line 89, ../sass/_style.scss */
h2 {
  font-size: 1.1em;
}

/* line 93, ../sass/_style.scss */
h3 {
  font-size: 0.9em;
  display: inline;
}

/* line 99, ../sass/_style.scss */
h4 {
  font-size: 12px;
}

/* ====================
     Buttons (pink / blue)
=====================*/
/* line 106, ../sass/_style.scss */
.btn-pink {
  -moz-box-shadow: inset 0px 1px 0px 0px #e68ab3;
  -webkit-box-shadow: inset 0px 1px 0px 0px #e68ab3;
  box-shadow: inset 0px 1px 0px 0px #e68ab3;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e81d78), color-stop(1, #a6054e));
  background: -moz-linear-gradient(center top, #e81d78 5%, #a6054e 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e81d78', endColorstr='#a6054e');
  background-color: #e81d78;
  border: 1px solid #f05b9e;
  display: inline-block;
  color: #ffffff;
  font-size: 15px;
  font-weight: normal;
  padding: 8px 27px;
  text-decoration: none;
  text-shadow: 1px 4px 7px #59072c;
}

/* line 122, ../sass/_style.scss */
.btn-pink:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a6054e), color-stop(1, #e81d78));
  background: -moz-linear-gradient(center top, #a6054e 5%, #e81d78 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6054e', endColorstr='#e81d78');
  background-color: #a6054e;
  color: #fff;
}

/* line 128, ../sass/_style.scss */
.btn-pink:active {
  position: relative;
  top: 1px;
}

/* line 134, ../sass/_style.scss */
.btn-blue {
  -moz-box-shadow: inset 0px 1px 0px 0px #bfeeff;
  -webkit-box-shadow: inset 0px 1px 0px 0px #bfeeff;
  box-shadow: inset 0px 1px 0px 0px #bfeeff;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a3e6ff), color-stop(1, #01acf0));
  background: -moz-linear-gradient(center top, #a3e6ff 5%, #01acf0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3e6ff', endColorstr='#01acf0');
  background-color: #a3e6ff;
  border: 1px solid #2ec7ff;
  display: inline-block;
  color: #ffffff;
  font-family: arial;
  font-size: 15px;
  font-weight: bold;
  padding: 6px 15px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #08516b;
}

/* line 151, ../sass/_style.scss */
.btn-blue:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #01acf0), color-stop(1, #a3e6ff));
  background: -moz-linear-gradient(center top, #01acf0 5%, #a3e6ff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01acf0', endColorstr='#a3e6ff');
  background-color: #01acf0;
}

/* line 156, ../sass/_style.scss */
.btn-blue:active {
  position: relative;
  top: 1px;
}

/* ====================
     Header
=====================*/
/* line 166, ../sass/_style.scss */
header {
  height: 60px;
  background: #232325;
}

/* line 171, ../sass/_style.scss */
#logo {
  margin: 10px 20px;
}

/* line 175, ../sass/_style.scss */
nav {
  float: right;
  margin: 20px;
}

/* line 180, ../sass/_style.scss */
nav ul {
  position: relative;
}

/* line 184, ../sass/_style.scss */
nav ul li {
  display: inline-block;
  padding-left: 30px;
}

/* line 189, ../sass/_style.scss */
nav ul li a {
  color: #01aef0;
  /*neon blue */
  text-decoration: none;
}

/* line 194, ../sass/_style.scss */
nav ul li a:hover {
  color: #e81d77;
  /*neon pink */
}

/* line 202, ../sass/_style.scss */
.neutral_text {
  color: white;
  pointer: none;
}

/* line 207, ../sass/_style.scss */
.neutral_text:hover {
  color: white;
  pointer: none;
}

/* ======= DROPDOWN MENUS */
/* line 215, ../sass/_style.scss */
#nav-links-trigger {
  text-indent: -9999px;
  background: url("../../img/icon-gear.png");
  width: 30px;
  height: 20px;
  bottom: 5px;
}

/* line 225, ../sass/_style.scss */
#login-trigger,
#register-trigger,
#nav-links-trigger {
  position: relative;
  margin-left: 3px;
  padding: 4px 16px 6px 0;
}

/* line 232, ../sass/_style.scss */
#login-trigger.menu-open,
#register-trigger.menu-open {
  background: #e81d77 !important;
  outline: none;
  padding: 6px;
  color: #fff;
  margin-right: 10px;
}

/* line 242, ../sass/_style.scss */
#login-content,
#register-content,
#nav-links-content {
  display: none;
  background-color: #383838;
  position: absolute;
  width: 275px;
  z-index: 100;
  padding: 12px;
  top: 35px;
  right: 1px;
  margin-top: 5px;
  margin-right: 0px;
  *margin-right: -1px;
}

/* line 256, ../sass/_style.scss */
#nav-links-content li {
  padding-bottom: 6px;
}

/* line 260, ../sass/_style.scss */
#login-content h3 {
  color: white;
}

/* line 265, ../sass/_style.scss */
#login-inputs input,
#register-inputs input {
  padding: 6px 3px;
  width: 260px;
}

/* line 271, ../sass/_style.scss */
#login-actions {
  margin: 10px 0px;
}

/* line 275, ../sass/_style.scss */
#forgot_password_trigger {
  font-size: 0.9em;
  text-decoration: underline;
}

/* ====================
       Marketing
=====================*/
/* line 285, ../sass/_style.scss */
#marketing {
  height: 100%;
  padding-top: 15px;
  padding-left: 30px;
  /* gradient background */
  background-image: linear-gradient(bottom, #7a7a7a 0%, #b8b8b8 42%, #ebebeb 80%);
  background-image: -o-linear-gradient(bottom, #7a7a7a 0%, #b8b8b8 42%, #ebebeb 80%);
  background-image: -moz-linear-gradient(bottom, #7a7a7a 0%, #b8b8b8 42%, #ebebeb 80%);
  background-image: -webkit-linear-gradient(bottom, #7a7a7a 0%, #b8b8b8 42%, #ebebeb 80%);
  background-image: -ms-linear-gradient(bottom, #7a7a7a 0%, #b8b8b8 42%, #ebebeb 80%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #7a7a7a), color-stop(0.42, #b8b8b8), color-stop(0.8, #ebebeb));
}

/* line 306, ../sass/_style.scss */
#marketing h2 {
  font-weight: 100;
  font-size: 2.1em;
  line-height: 1.3;
}

/* line 312, ../sass/_style.scss */
#marketing h3 {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 1em;
  line-height: 1.3;
}

/* line 319, ../sass/_style.scss */
aside#marketing {
  height: auto;
  padding-bottom: 20px;
}

/* line 324, ../sass/_style.scss */
.btn-marketing {
  position: absolute;
  right: 30px;
  top: 140px;
}

/* //////////////////////////  Profile ////////////////////////////////////////////*/
/* line 339, ../sass/_style.scss */
#profile_form_submit_footer {
  position: fixed;
  bottom: 60px;
  left: 0;
  background: #01aef0;
  /* dark grey */
  opacity: 0.7;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}

/* line 350, ../sass/_style.scss */
#student_info_container {
  margin: 20px 0;
}

/* line 354, ../sass/_style.scss */
h1#profile-username {
  font-size: 3em;
}

/* line 358, ../sass/_style.scss */
h3#profile-creative {
  font-size: 2em;
}

/* line 362, ../sass/_style.scss */
h4#profile-school {
  font-size: 0.9em;
  font-weight: normal;
}

/* styling text area */
/* line 368, ../sass/_style.scss */
.profile-txtarea {
  border: 3px solid #cccccc;
  padding: 5px;
}

/* line 373, ../sass/_style.scss */
#student_description {
  margin-top: 15px;
}

/* line 377, ../sass/_style.scss */
.delete_btn {
  display: block;
  background: url("../../img/deleteicon.png") center center no-repeat;
  width: 25px;
  height: 25px;
  position: absolute;
  top: 5px;
  left: 5px;
}

/* line 387, ../sass/_style.scss */
#del_profile_confirm {
  display: none;
}

/* line 396, ../sass/_style.scss */
aside#welcome_alert {
  font-weight: 100;
  font-size: 1.3em;
  line-height: 0.8;
}

/* line 402, ../sass/_style.scss */
aside#welcome_alert h2 {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 200;
  font-size: 0.8em;
  line-height: 1.3;
  margin-bottom: 20px;
}

/* line 410, ../sass/_style.scss */
aside#welcome_alert h1.welcome-alert {
  font-family: "Helvetica Neue", "Open Sans", Helvetica, sans-serif;
  font-weight: 100;
  font-size: 1.5em;
  padding-bottom: 0;
}

/* line 417, ../sass/_style.scss */
#profile-social-media {
  margin: 20px 0 0;
}

/* line 421, ../sass/_style.scss */
#profile-social-media .profile-social-media {
  margin: 15px 0 0;
}

/* line 428, ../sass/_style.scss */
h1#profile-name {
  font-family: "Open Sans", Helvetica, sans-serif;
  font-weight: 100;
  font-size: 5.0em;
  /* padding-bottom: 0px !important; */
}

/* line 435, ../sass/_style.scss */
div#profileright {
  line-height: 1.4;
}

/* line 439, ../sass/_style.scss */
div#profileright h4.bold {
  /* font-weight: 100; */
  font-size: 1.3em;
}

/* line 444, ../sass/_style.scss */
div#profileright a, div#profileleft a {
  color: #e81d77;
  text-decoration: none;
}

/* line 449, ../sass/_style.scss */
div#profileright a:hover, div#profileleft a:hover {
  color: #01aef0;
  text-decoration: none;
}

/* line 459, ../sass/_style.scss */
div#accountcontent p, label {
  padding-bottom: 20px;
}

/* line 463, ../sass/_style.scss */
div#accountcontent h3 {
  font-weight: 100;
  font-size: 2.0em;
}

/* line 468, ../sass/_style.scss */
.delete_account_hidden {
  display: none;
}

/* line 472, ../sass/_style.scss */
div#accountcontent span {
  margin-left: 30px;
}

/* line 476, ../sass/_style.scss */
div#accountcontent .sbutton {
  margin-left: 30px;
}

/* line 486, ../sass/_style.scss */
#filter_wrap {
  width: 100%;
  background: #cecece;
  -moz-box-shadow: 0px 5px 8px 0px #999999;
  -webkit-box-shadow: 0px 5px 8px 0px #999999;
  box-shadow: 0px 5px 8px 0px #999999;
}

/* line 494, ../sass/_style.scss */
#filter_bar {
  text-align: center;
  height: 20px;
  background: transparent;
  padding: 10px 0;
}

/* line 501, ../sass/_style.scss */
#filter_container {
  max-width: 960px;
  margin: 0 auto;
  padding: 15px;
  background: transparent;
}

/* line 508, ../sass/_style.scss */
#filter_tabs {
  width: 100px;
  float: left;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8em;
}

/* line 517, ../sass/_style.scss */
#filter_container a {
  text-decoration: none !important;
  color: #000;
}

/* line 524, ../sass/_style.scss */
#filter_tabs li {
  height: 50px;
}

/* line 528, ../sass/_style.scss */
.filter_content {
  max-width: 100%;
  margin-left: 130px;
  background: transparent;
}

/* line 534, ../sass/_style.scss */
.filter_content li {
  display: inline-block;
  padding: 10px;
  background: #f0f0f0;
  margin: 5px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
  font-size: 0.7em;
}

/* line 543, ../sass/_style.scss */
.filter_content li span {
  background: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  margin: 0 3px;
  margin-left: 4px;
  font-weight: bold;
  padding: 3px 0 3px 10px;
}

/* line 552, ../sass/_style.scss */
#filter_float_clear {
  clear: both;
}

/* line 556, ../sass/_style.scss */
#filter_reveal {
  width: 200px;
  height: 0px;
  margin: 0 auto;
  background: transparent;
}

/* line 563, ../sass/_style.scss */
.tab-reveal {
  margin-top: 0px;
}

/* line 575, ../sass/_style.scss */
#snippet_stream_container {
  margin: 0 auto;
  clear: both;
  margin-top: 50px;
  padding-bottom: 100px;
}

/* line 582, ../sass/_style.scss */
.snippet_item {
  /* display: inline-block; */
  /* background: white; */
  width: 230px;
  height: 310px;
  /* height of 255 gives 5px spacing between snippet image and bottom info */
  /* position: relative; */
  margin: 15px;
  float: left;
}

/* line 592, ../sass/_style.scss */
.snippet_image_stream {
  -webkit-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.4);
  -moz-box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.4);
  box-shadow: 0px 0px 5px rgba(50, 50, 50, 0.4);
}

/*
.snippet_image_stream:hover {
	border: solid 3px red;
}
*/
/* line 604, ../sass/_style.scss */
.snippet_image_stream:hover {
  border: solid 5px #00aeef;
}

/* line 608, ../sass/_style.scss */
.snippet_image_stream:hover {
  margin: -5px;
}

/* line 613, ../sass/_style.scss */
.snippet_user_image {
  position: absolute;
  bottom: 20px;
  left: 0px;
}

/* line 619, ../sass/_style.scss */
.snippet_item h2 {
  font-size: 0.9em;
  display: block;
  width: 220px;
  padding: 5px 5px 10px 5px;
  margin-left: 50px;
}

/* line 627, ../sass/_style.scss */
.snippet_item h3 {
  display: block;
  width: 220px;
  padding: 0px 5px 5px 5px;
  margin-left: 50px;
}

/* line 634, ../sass/_style.scss */
.snippet_item h4 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 220px;
  padding: 0px 5px 5px 5px;
  margin-left: 50px;
}

/* line 643, ../sass/_style.scss */
.heart {
  background: url("../../img/icon-likes.png") no-repeat;
  width: 31px;
  height: 27px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0.8em;
  color: white !important;
  font-weight: bold;
  text-align: center;
  line-height: 1.8em;
}

/* line 660, ../sass/_style.scss */
.snippet_likes {
  background: url("../../img/icon-likes_2.png");
  width: 50px;
  height: 48px;
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.5em;
  line-height: 2em;
  color: white !important;
  font-weight: bold;
  text-align: center;
  /* padding-top: 12px; */
}

/* line 676, ../sass/_style.scss */
#snippet_stream_container a {
  color: #e81d77;
  text-decoration: none;
  font-weight: bold;
}

/* line 682, ../sass/_style.scss */
#snippet_stream_container h2 {
  margin-top: 2px;
  padding-bottom: 3px;
}

/* line 686, ../sass/_style.scss */
#snippet_stream_container h3 {
  font-size: 0.8em;
}

/* line 690, ../sass/_style.scss */
#snippet_stream_container a:hover {
  color: #01aef0;
  text-decoration: none;
}

/* line 695, ../sass/_style.scss */
.snippet_item h4 {
  font-weight: normal;
}

/* line 706, ../sass/_style.scss */
div.snippet_view_container h1 {
  font-weight: 100;
  font-size: 2.0em;
  color: white;
}

/* line 712, ../sass/_style.scss */
div.snippet_view_container {
  max-width: 90%;
}

/* line 716, ../sass/_style.scss */
div.snippet_view_container img {
  max-width: 100%;
}

/* line 720, ../sass/_style.scss */
div.snippet_view_bottom {
  color: white;
  padding: 10px;
  font-size: 0.9em;
  background-color: black;
}

/* line 727, ../sass/_style.scss */
div.snippet_view_bottom a {
  color: #01aef0;
  text-decoration: none;
}

/* line 732, ../sass/_style.scss */
div.snippet_view_bottom p {
  line-height: 0.1;
}

/* line 736, ../sass/_style.scss */
div.snippet_user_data {
  line-height: 0.1;
}

/* line 746, ../sass/_style.scss */
#aboutright {
  padding: 20px;
  background-color: #e6e7e9;
}

/* line 751, ../sass/_style.scss */
#aboutright a {
  color: #01aef0;
  text-decoration: none;
}

/* line 757, ../sass/_style.scss */
#aboutright h3 {
  font-weight: 100;
  font-size: 2.1em;
  line-height: 1.4;
}

/* line 763, ../sass/_style.scss */
.section_group {
  background-color: #e6e7e9;
}

/* line 767, ../sass/_style.scss */
#aboutright h4 {
  font-weight: 100;
  font-size: 1.8em;
}

/* line 772, ../sass/_style.scss */
#aboutright p {
  line-height: 0.5;
}

/* line 785, ../sass/_style.scss */
#forgot_password_modal,
#registration_modal,
#add_snippet_modal {
  display: none;
  background: white;
}

/* line 791, ../sass/_style.scss */
#registration_modal {
  padding: 15px;
}

/* line 795, ../sass/_style.scss */
#registration_modal h3 {
  font-weight: 100;
  font-size: 2.1em;
}

/* line 800, ../sass/_style.scss */
#registration_modal form {
  margin-top: 10px;
  padding: 10px;
  background-color: #E0E0E0;
}

/* line 806, ../sass/_style.scss */
#registration_modal fieldset {
  margin-bottom: 35px;
}

/* line 810, ../sass/_style.scss */
#registration_modal fieldset span {
  margin-left: 35px;
}

/* line 814, ../sass/_style.scss */
#registration_modal form label {
  margin: 15px;
}

/* line 818, ../sass/_style.scss */
#registration_modal legend {
  float: left;
  font-weight: 100;
}

/* line 823, ../sass/_style.scss */
#registration_modal label, p {
  padding-top: 10px;
  font-size: 0.8em;
}

/* line 828, ../sass/_style.scss */
#registration_modal input {
  margin-left: 10px;
}

/* line 832, ../sass/_style.scss */
#registration_modal select {
  margin-top: 10px;
}

/* line 836, ../sass/_style.scss */
#registration_modal a {
  color: #e81d77;
}

/* line 847, ../sass/_style.scss */
#add_snippet_modal {
  padding: 20px;
}

/* line 851, ../sass/_style.scss */
#add_snippet_modal form {
  padding: 10px;
  background-color: #E0E0E0;
}

/* line 856, ../sass/_style.scss */
#add_snippet_modal h1 {
  font-weight: 100;
  font-size: 2.1em;
  padding-bottom: 25px;
}

/* line 862, ../sass/_style.scss */
#add_snippet_modal form label {
  display: block;
  padding-bottom: 0px !important;
}

/* line 867, ../sass/_style.scss */
.checkbox {
  font-size: 0.8em;
}

/* line 877, ../sass/_style.scss */
div.adminform {
  padding: 25px;
  margin: auto;
  height: 100px;
  width: 250px;
}

/* line 884, ../sass/_style.scss */
div#container h3 {
  font-weight: 100;
  font-size: 2.1em;
}

/* line 889, ../sass/_style.scss */
div#container h1 {
  padding-bottom: 25px;
}

/* line 899, ../sass/_style.scss */
footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  margin-top: 50px;
  background: #232325;
  height: 60px;
}

/* line 908, ../sass/_style.scss */
footer ul {
  text-align: left;
  color: #fff;
  font-size: 0.7em;
  line-height: 1.2em;
  padding: 9px;
}

/* line 916, ../sass/_style.scss */
footer ul a {
  color: #01aef0;
}

/* line 920, ../sass/_style.scss */
footer ul a:hover {
  color: #e81d77;
}

/* line 926, ../sass/_style.scss */
#social-media-icons {
  float: left;
  text-indent: -9999px;
  padding: 17px 0;
  cursor: pointer;
}

/* ie */
/* line 929, ../sass/_style.scss */
#social-media-icons a {
  border-style: none;
}

/* line 931, ../sass/_style.scss */
p.fb-icon {
  background: url("../img/../icon-fb.png") no-repeat;
  width: 13px;
  height: 18px;
  float: left;
}

/* line 933, ../sass/_style.scss */
p.twitter-icon {
  background: url("../../img/icon-twitter.png") no-repeat;
  width: 38px;
  height: 17px;
  margin: 0 15px 0 30px;
}

/* line 935, ../sass/_style.scss */
.fb-icon:hover {
  background-position: left -28px;
}

/* line 936, ../sass/_style.scss */
.twitter-icon:hover {
  background-position: left -27px;
}

/* line 947, ../sass/_style.scss */
.masonry,
.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

/* line 955, ../sass/_style.scss */
.masonry {
  -webkit-transition-property: width, height;
  -moz-transition-property: width, height;
  -ms-transition-property: width, height;
  -o-transition-property: width, height;
  transition-property: width, height;
}

/* line 963, ../sass/_style.scss */
.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top;
}

/* line 972, ../sass/_style.scss */
.transitions-enabled.masonry,
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-duration: 0.7s;
  -moz-transition-duration: 0.7s;
  -ms-transition-duration: 0.7s;
  -o-transition-duration: 0.7s;
  transition-duration: 0.7s;
}

/* line 980, ../sass/_style.scss */
.transitions-enabled.masonry {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -ms-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

/* line 988, ../sass/_style.scss */
.transitions-enabled.masonry .masonry-brick {
  -webkit-transition-property: left, right, top;
  -moz-transition-property: left, right, top;
  -ms-transition-property: left, right, top;
  -o-transition-property: left, right, top;
  transition-property: left, right, top;
}

/* disable transitions on container */
/* line 997, ../sass/_style.scss */
.transitions-enabled.infinite-scroll.masonry {
  -webkit-transition-property: none;
  -moz-transition-property: none;
  -ms-transition-property: none;
  -o-transition-property: none;
  transition-property: none;
}

/* line 1006, ../sass/_style.scss */
.corner-stamp {
  display: inline-block;
  width: 200px;
  height: 255px;
  margin: 15px;
  float: left;
  background: white;
}

/**** Clearfix ****/
/* line 1016, ../sass/_style.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}

/* line 1017, ../sass/_style.scss */
.clearfix:after {
  clear: both;
}

/* line 1018, ../sass/_style.scss */
.clearfix {
  zoom: 1;
}

/*  INFINTE SCROLLING   =========================================================== */
/* line 1021, ../sass/_style.scss */
#infscr-loading {
  display: none !important;
}

/* line 1031, ../sass/_style.scss */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

/* line 1037, ../sass/_style.scss */
.col:first-child {
  margin-left: 0;
}

/* all browsers except IE6 and lower */
/*  REMOVE MARGINS AS ALL GO FULL WIDTH AT 480 PIXELS */
@media only screen and (max-width: 480px) {
  /* line 1043, ../sass/_style.scss */
  .col {
    margin: 1% 0 1% 0%;
  }
}
/*  GRID OF TWELVE   =============================================================== */
/* line 1050, ../sass/_style.scss */
.span_12_of_12 {
  width: 100%;
}

/* line 1054, ../sass/_style.scss */
.span_11_of_12 {
  width: 91.46%;
}

/* line 1058, ../sass/_style.scss */
.span_10_of_12 {
  width: 83%;
}

/* line 1062, ../sass/_style.scss */
.span_9_of_12 {
  width: 74.54%;
}

/* line 1066, ../sass/_style.scss */
.span_8_of_12 {
  width: 66.08%;
}

/* line 1070, ../sass/_style.scss */
.span_7_of_12 {
  width: 57.62%;
}

/* line 1074, ../sass/_style.scss */
.span_6_of_12 {
  width: 49.16%;
}

/* line 1078, ../sass/_style.scss */
.span_5_of_12 {
  width: 40.7%;
}

/* line 1082, ../sass/_style.scss */
.span_4_of_12 {
  width: 32.24%;
}

/* line 1086, ../sass/_style.scss */
.span_3_of_12 {
  width: 23.78%;
}

/* line 1090, ../sass/_style.scss */
.span_2_of_12 {
  width: 15.32%;
}

/* line 1094, ../sass/_style.scss */
.span_1_of_12 {
  width: 6.86%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  /* line 1102, ../sass/_style.scss */
  .span_12_of_12 {
    width: 100%;
  }

  /* line 1105, ../sass/_style.scss */
  .span_11_of_12 {
    width: 100%;
  }

  /* line 1108, ../sass/_style.scss */
  .span_10_of_12 {
    width: 100%;
  }

  /* line 1111, ../sass/_style.scss */
  .span_9_of_12 {
    width: 100%;
  }

  /* line 1114, ../sass/_style.scss */
  .span_8_of_12 {
    width: 100%;
  }

  /* line 1117, ../sass/_style.scss */
  .span_7_of_12 {
    width: 100%;
  }

  /* line 1120, ../sass/_style.scss */
  .span_6_of_12 {
    width: 100%;
  }

  /* line 1123, ../sass/_style.scss */
  .span_5_of_12 {
    width: 100%;
  }

  /* line 1126, ../sass/_style.scss */
  .span_4_of_12 {
    width: 100%;
  }

  /* line 1129, ../sass/_style.scss */
  .span_3_of_12 {
    width: 100%;
  }

  /* line 1132, ../sass/_style.scss */
  .span_2_of_12 {
    width: 100%;
  }

  /* line 1135, ../sass/_style.scss */
  .span_1_of_12 {
    width: 100%;
  }
}
/*  GROUPING  */
/* line 1142, ../sass/_style.scss */
.group:before,
.group:after {
  content: "";
  display: table;
}

/* line 1146, ../sass/_style.scss */
.group:after {
  clear: both;
}

/* line 1152, ../sass/_style.scss */
.span_12_of_12,
.span_9_of_12,
.span_3_of_12 {
  background: #e6e7e9;
  /*background: rgba(0,0,0,0.3);*/
}

/* line 1157, ../sass/_style.scss */
.span_3_of_12 {
  min-width: 200px;
}
